<div class="exercise-details p-3">
  <h3><%= exercise.exercise.name %></h3>
  <p><strong>Muscle Group:</strong> <%= exercise.exercise.main_muscles %></p>
  <p><strong>Equipment:</strong> <%= exercise.exercise.equipment %></p>
  <p><strong>Starting Position:</strong> <%= exercise.exercise.starting_position %></p>
  <p><strong>Execution:</strong> <%= exercise.exercise.execution %></p>
</div>
