<div class="exercise-details p-3">
  <h3><%= exercise.exercise.name %></h3>
  <% unless exercise.exercise.main_muscles.blank?%>
    <p><strong>Muscle Group:</strong> <%= exercise.exercise.main_muscles %></p>
  <% end %>
  <% unless exercise.exercise.equipment.blank?%>
    <p><strong>Equipment:</strong> <%= exercise.exercise.equipment %></p>
  <% end %>
  <% unless exercise.exercise.starting_position.blank?%>
    <p><strong>Starting Position:</strong> <%= exercise.exercise.starting_position %></p>
  <% end %>
  <% unless exercise.exercise.execution.blank?%>
    <p><strong>Execution:</strong> <%= exercise.exercise.execution %></p>
  <% end %>
</div>
