<div class="container my-3">
  <%= link_to "â† Back", client_path(@workout_session.workout_plan.client), class: "btn btn-outline-secondary rounded-pill" %>
  <div class="col-12 my-3">
    <h2><%= @workout_session.workout_plan.client.first_name %>'s <%= @workout_session.session_name.split(" ")[0] %> training</h2>
    <h3 class="my-2 badge rounded-pill px-3 py-2 me-2 border bg-info text-dark fw-normal fs-6"><i class="fa-solid fa-clock"></i> <%= @workout_session.date_time.strftime("%a %b %e at %l:%M %p") %></h3>
  </div>
  <hr>
  <div class="row justify-content-between g-1">
    <!-- Exercises Box -->
    <div class="card p-3 mb-4 shadow-sm border-0 rounded-3 col-12 col-md-7" id="session_exercises">
      <% if @session_exercises.empty? %>
        <h3><i class="fa-solid fa-star"></i> Workout magic starts here! </h3>
      <% else %>
        <div>
          <% @session_exercises.each do |session_exercise| %>
            <%= render "workout_sessions/exercise_display", session_exercise: session_exercise %>
          <% end %>
        </div>
      <% end %>
    </div>
    <!-- Add Exercise Box -->
    <div class="card p-3 mb-4 shadow-sm border-0 rounded-3 col-12 col-md-5 d-flex justify-content-end">
      <%= render 'workout_sessions/new_exercise', workout_session: @workout_session, session_exercise: @session_exercise %>
    </div>
  </div>
  <hr>
  <!-- Comments section -->
  <div class="container chat my-3">
    <h2>Comments about <%= @workout_session.session_name %> training</h2>
    <div id="comment-section" class="comments">
      <% @workout_session.comments.each do |comment| %>
        <%= render "comments/comment", comment: comment %>
      <% end %>
    </div>
    <%= simple_form_for [@workout_session, @comment],
        html: { class: "d-flex", data: { controller: "session-exercise-form", action: "turbo:submit-end->session-exercise-form#reset" } } do |f| %>
      <div class="input-group mb-3 w-100">
        <div class="form-floating">
          <%= f.input :content,
            label: false,
            wrapper: false %>
          <%= f.label :user_question, "Your comment" %>
        </div>
      </div>
      <%= f.submit "Send", class: "btn btn-danger mb-3" %>
    <% end %>
  </div>
  <!-- AI section -->
  <div class="container chatbot my-3">
    <h2>Ask AI assistant</h2>
    <div id="questions">
      <% @workout_session.questions.each do |question| %>
        <%= render "questions/question", question: question %>
      <% end %>
    </div>
    <%= simple_form_for [@workout_session, @question],
      html: { class: "d-flex", data: { controller: "session-exercise-form", action: "turbo:submit-end->session-exercise-form#reset" } }  do |f| %>
      <div class="input-group mb-3 w-100">
        <div class="form-floating">
          <%= f.input :user_question, label: false, wrapper: false %>
          <%= f.label :user_question, "Your question" %>
        </div>
        <%= f.submit "Ask", id: "new-question-button", class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
</div>
