<div class="container my-3">
  <h1><%= @workout_session.session_name %></h1>
  <h3><%= @workout_session.date_time %></h3>
  <%# TODO : Link to the client show page workout plan tab %>
    <% @session_exercises.each do |exercise| %>
      <div class="card">
        <%= cl_image_tag(exercise.exercise.photo.key, class: "card-img-top py-3", style: "height: 180px; object-fit: contain; background-color: #f8f9fa;") %>
        <h3><%= exercise.exercise.name %></h3>
        <p><%= exercise.repetitions %> reps/<%= exercise.load %> kg (<%= exercise.set %> sets)</p>
      </div>
    <% end %>
  <%= render 'workout_sessions/new_exercise', workout_session: @workout_session, session_exercise: @session_exercise %>
</div>
