<div class="container py-4">
  <div class="row justify-content-end">
    <div class="col-lg-10 col-md-10 col-sm-12">
      <div class="card border-0 shadow-sm">
        <div class="card-header bg-light border-0 py-4">
          <% if current_user.trainer? %>
            <h1 class="h3 text-center mb-2 fw-bold">Add <%= client.first_name %>'s body stats</h1>
            <p class="text-muted text-center mb-0">Show us how fat <%= client.first_name %> is!</p>
          <% else %>
            <h1 class="h3 text-center mb-2 fw-bold">Add your body stats</h1>
            <p class="text-muted text-center mb-0">Show us how fat you are!</p>
          <% end %>
        </div>
        <div class="card-body p-5">
          <%= simple_form_for([client, body_stat], method: :post, url: client_body_stats_path(client)) do |f| %>
            <div class="row g-4">
              <!-- Date -->
              <div class="col-12 my-0">
                <%= f.input :timestamp, as: :string, label: "Date of measurement", input_html: { data: {controller: "datepicker-body-stat"} } %>
              </div>
              <!-- Weight -->
              <div class="col-12 my-0">
                <%= f.input :weight,
                  label: "Weight (kg)",
                  input_html: {
                    class: "form-control",
                    placeholder: "59.7"
                  } %>
              </div>
              <!-- Body Fat -->
              <div class="col-12 my-0">
                <%= f.input :body_fat,
                  label: "Body fat percentage (%)",
                  input_html: {
                    class: "form-control",
                    placeholder: "15.9"
                  } %>
              </div>
              <!-- Muscle Mass -->
              <div class="col-12 my-0">
                <%= f.input :muscle_mass,
                  label: "Muscle mass (kg)",
                  input_html: {
                    class: "form-control",
                    placeholder: "48.2"
                  } %>
              </div>
              <!-- Submit Button -->
              <div class="col-12 text-center pt-1">
                <%= f.button :submit, "Add body stats", class: "btn btn-danger btn-lg px-5" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
