<div class="card my-4 shadow-sm border-0 rounded-3 hover-shadow card-fixed-height" data-controller="form-display-toggle">
  <div class="row g-0 h-100">
    <div class="col-md-4 h-100">
      <div class="image-container h-100">
        <i class="fa-solid fa-dumbbell" style="font-size:156px;"></i>
      </div>
    </div>
    <div class="col-md-8 h-100">
      <div class="card-body p-4">
        <div class="d-flex justify-content-between align-items-start mb-3">
          <div class="plan-info">
            <h5 class="card-title fw-bold text-dark mb-1">
              From <%= plan.starting_date %> to <%= plan.ending_date %>
            </h5>
            <% if plan.workout_sessions.any? %>
              <h5 class="text-muted my-4"><i class="fa-solid fa-medal"></i> <%= plan.workout_sessions.count %> sessions</h5>
            <% else %>
              <h5 class="text-muted my-4"><i class="fa-solid fa-face-grimace"></i> 0 sessions</h5>
            <% end %>
          </div>
          <%# Div for add a session button %>
          <div class="add-session-button">
            <button type="button" class="btn btn-outline-warning" data-action="click->form-display-toggle#fire"><i class="fa-solid fa-calendar-plus"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="session-display">
    <% if plan.workout_sessions.any? %>
      <% plan.workout_sessions.each do |session| %>
        <%= render 'clients/workout_session_display', session: session%>
      <% end %>
    <% else %>
      <p class="text-muted mt-4">No workout session yet!</p>
    <% end %>
  </div>
  <%# Div for session-adding form %>
  <div data-form-display-toggle-target="togglableElement" class="add-session-form row g-0 h-100 my-3 px-3 d-none">
    <%= render 'workout_sessions/workout_session_form', workout_session: workout_session, workout_plan: plan %>
  </div>
</div>
