<div class="card my-4 shadow-sm border-0 rounded-3 hover-shadow card-fixed-height bg-white" data-controller="display-toggle form-toggle-display">
  <div class="row g-0 h-100 align-items-center">
    <div class="col-12 col-md-4 h-100">
      <div class="image-container h-100 d-flex justify-content-center align-item-center mt-2">
        <% if plan.workout_sessions.any? %>
          <% sessions_with_exercises = plan.workout_sessions.select { |s| s.session_exercises.any? } %>
          <% unless sessions_with_exercises.empty? %>
            <% chosen_session =  sessions_with_exercises.sample%>
            <%= cl_image_tag(chosen_session.session_exercises.sample.exercise.photo.key,
                  class: "img-fluid bg-white",
                  style: "max-height: 180px; object-fit: contain;") %>
          <% else %>
            <%= image_tag "strength-training-placeholder.png", style: "width:156px; height:156px;" %>
          <% end %>
        <% else %>
          <%= image_tag "sitting-meditation-placeholder.png", style: "width:156px; height:156px;" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8 h-100">
      <div class="card-body p-0">
        <div class="d-flex justify-content-center align-items-start">
          <div class="plan-info">
            <h3 class="card-title fw-bold text-dark mt-1 mb-1 fs-4">
              <%= plan.starting_date.strftime("%b %-d, %Y") %> - <%= plan.ending_date.strftime("%b %-d, %Y") %>
            </h3>
            <!--Scheduled trainer sessions-->
            <div class="scheduled-trainer-sessions">
              <%= render 'clients/scheduled_trainer_sessions', workout_plan: plan %>
            </div>
            <div class="d-flex justify-content-center">
              <% if plan.workout_sessions.any? %>
                <button type="button" class="btn custom-btn my-4 rounded-pill px-3 py-0 me-2 fw-bold fs-6" data-action="click->display-toggle#fire">
                  <%# <i class="fa-solid fa-medal"></i> <%= pluralize(plan.workout_sessions.count, "session") %>
                  <i class="fa-solid fa-medal"></i> All sessions
                </button>
              <% else %>
                <h5 class="text-muted my-4 badge rounded-pill px-3 py-0 me-2 border bg-white text-dark fw-normal fs-6 d-flex align-items-center">
                  <i class="fa-solid fa-face-grimace me-2"></i>0 session
                </h5>
              <% end %>
              <div class="add-session-button py-2 my-4 mx-2">
                <button type="button" class="btn custom-btn rounded-4" data-action="click->form-toggle-display#fire"><i class="fa-solid fa-calendar-plus"></i></button>
              </div>
            </div>
          </div>
          <%# Div for add a session button %>
        </div>
      </div>
    </div>
  </div>
  <%# Div for session-adding form %>
  <div data-form-toggle-display-target="togglableForm" class="add-session-form row g-0 h-100 my-3 px-3 d-none">
    <%= render 'workout_sessions/workout_session_form', workout_session: workout_session, workout_plan: plan %>
  </div>
  <%# Div for displaying sessions %>
  <div data-display-toggle-target="togglableElement" class="session-display d-none">
    <% if plan.workout_sessions.any? %>
      <% plan.workout_sessions.order(:date_time).each do |session| %>
        <%= render 'clients/workout_session_display', session: session%>
      <% end %>
    <% end %>
  </div>
</div>
