<div class="container my-3">
  <ol>
    <% @exercises.each do |exercise| %>

      <li>
        <h2><%= exercise.name %></h2>
        <div class="d-flex flex-wrap justify-content-start m-4 p-4 shadow-sm rounded">
        <% unless exercise.execution.blank? %>
          <div class="d-flex justify-content-center align-items-center col-12 col-lg-4 text-center p-3" style="background-color: #f8f9fa;">
            <%= cl_image_tag(exercise.photo.key,
                      class: "img-fluid",
                      style: "max-height: 180px; object-fit: contain; background-color: #f8f9fa;") %>
          </div>
          <div class="m-2 p-2 col-lg-7" >
            <h3>How To Perform This Exercise</h3>
            <%= exercise.execution%>
        <% else %>
            <h5><b>No execution</b></h5>
          </div>
        </div>
        <% end %>
        <!--
        <% unless exercise.starting_position.blank? %>
          <h5>Starting position: <%= exercise.starting_position%></h5>
        <% else %>
          <h5>No starting_position</h5>
        <% end %>
        <% unless exercise.equipment.blank? %>
          <h5>Equipment: <%= exercise.equipment%></h5>
        <% else %>
          <h5>No equipment</h5>
        <% end %>
        <% unless exercise.main_muscles.blank? %>
          <h5>Main muscles: <%= exercise.main_muscles%></h5>
        <% else %>
          <h5>No main muscles</h5>
        <% end %>
        -->

      <% end %>
    </li>
  </ol>
</div>
