<!DOCTYPE html>
<html>
  <head>
    <title>FitEz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/css/tom-select.css">
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.bootstrap5.min.css" %>
    <%= javascript_importmap_tags %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
  </head>
  <body class="<%= 'home-page' if controller_name == 'pages' && action_name == 'home' %>">
    <%= render "shared/navbar" %>
    <% unless controller_name == "pages" && action_name == "home" %>
      <button data-controller="back-to-top" id="back-to-top" class="btn rounded-circle shadow d-none" data-action="back-to-top#scrollToTop scroll@window->back-to-top#scrollFunction"> <i class="fa-solid fa-arrow-up" style="color: #ffffff; font-size: 20px"></i> </button>
    <% end %>
    <%# <%= render "shared/flashes" %>
    <%= yield %>
    <% unless controller_name == "pages" && action_name == "home" %>
      <footer>
        <%= render "shared/footer_navbar" %>
      </footer>
    <% end %>
  </body>
</html>
